.app-notification{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: var(--z-ten);
    .notification{
        display: flex;
        align-items: center;
        background-color: var(--white);
        border-radius:var(--big-radius);
        padding: .5rem 1rem;
        margin: .5rem;
        animation:fadeInFromBottom .5s ease-in-out;
        transition: all .3s;
        .message{
            margin: 1rem 0rem 1rem 1rem;
            width: 22rem;
            white-space: pre-wrap;
            text-align: center;
        }
    }
}