//****INPUTS****///
input {
  border-style: none;
  background: transparent;
  outline: none;
}


.c-input {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding:1rem 1.5rem !important;
  align-items: center;
  border-radius: .5rem;
  border:var(--border);
  
  &.invalid{
    border-color: var(--error-color);
  }

  input {
    flex-grow: 1;
    vertical-align: middle;
    overflow: hidden;
    font-size: 1.4rem;

    &::-webkit-input-placeholder {
      color: var(--light-black-text);
    }

  }

  & .val-msg {
    position: absolute;
    top: 115%;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    color:var(--error-color);
    background-color: transparent;
  }

  &.checkbox::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    position: absolute;
    right: 1.5rem;
    border-left: 0.3rem solid #625f59;
    border-bottom: 0.3rem solid #625959;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0.9rem;
  }
}

.c-input select {
  position: absolute;
  top: 0.3rem;
  width: calc(100% - 1rem);
  left: 0.5rem;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.1rem;
  text-overflow: "";
  background-color: transparent;
  color: var(--input-text-active);
  padding-left: 3% !important;
  font-size: 1.4rem;
  &:select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
  }

  &:focus {
    border: none;
    background-color: transparent;
    color: var(--input-text-active);
    box-shadow: none;
  }
}

.c-input .c-addon {
  // color: var(--input-text-inactive);
  // font-size: 1.5rem;
  // vertical-align: middle;
  // transition: color 0.25s;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  //margin: 0 0 0 1rem;
  width: 2rem;
  height: 2rem;
  &:hover {
    color: var(--input-text-active);
  }
}


/**
    Transparent TextBox That takes the size of its container
    */
.tb-styless {
  color: var(--input-text-active);
  line-height: 1.5rem;
  vertical-align: middle;
  overflow: hidden;
  font-size: 1.3rem;
  border: none;
  padding: 1rem;
  width: 100%;
  height: 100%;
  &::-webkit-input-placeholder {
    color: var(--input-text-inactive);
  }
}

//****END INPUTS****///

//****BUTTONS****///

.morescrollbtn a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid rgb(71, 71, 71);
  box-shadow: var(--primary-color);
  border-radius: 100%;
  box-sizing: border-box;
  background-color: rgb(71, 71, 71);
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgb(71, 71, 71); // rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    animation: glow 3s infinite;
    box-sizing: border-box;
  }
}

.mytransparent-btn {
  padding: 1rem;
  &:hover {
    background-color: var(--light-primary-color);
  }
}

.closebtn {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  svg {
      transition: all 0.2s;
      fill: var(--light-black-text);
      width: 1.5rem;
      height: 1.5rem;
  }

  &:hover {
      background-color: var(--hover-background);
      svg {
          fill: var(--dark-black-text);
          transform: scale(1.1);
      }
  }
}

//****END BUTTONS****///

a.link {
  cursor: pointer;
  font-weight: bold;
  color: var(--primary-color);
  &:hover {
    color: var(--primary-color-dark);
  }
}


