

.faded {
    color: rgba(white, 0.5) !important;
    fill: rgba(white, 0.5) !important;
}

.bd-bottom {
    border-bottom: var(--border);
}

.dnone {
    display: none;
}



.hidden {
    visibility: hidden;
    opacity: 0;
}

.invisible {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.d-inline-block {
    display: inline-block;
}

.image{
    background-position: center;
    background-size: cover;
}